<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>บันทึกเวลาทำงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center size="12" size-lg *ngFor="let time_list of time_list">
        <div class="div_time_detail" text-center>
          <div class="text_detail pad_time_date"><ion-icon name="calendar-outline" class="icon_check_time"></ion-icon>&nbsp;&nbsp;{{ time_list.date }} {{ time_list.time }}</div>
          <div class="text_detail pad_name"><ion-icon name="person-outline" class="icon_check_time"></ion-icon>&nbsp;&nbsp;{{ time_list.name }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
