.div_time_detail{
    min-height: 100px;
    min-width: 300px;
    background-color: #fff;
    color: black;
    margin: 10px;
    border-radius: 10px;
}

[text-center]{
    text-align: center;
}

.text_detail{
    text-align: left;
    font-weight: 900;
}

.pad_time_date{
    padding: 10px 20px 10px 20px;
}

.pad_name{
    padding: 0px 20px 10px 20px;
}

.icon_check_time{
    zoom: 1.4;
}