<ion-content>
  <ion-grid class="content_data">
    <ion-row>
      <ion-col text-center size="6" size-lg>
        <div class="btn_check_time" [ngClass]="km_cal" (click)="check_in()">
          <ion-icon name="alarm-outline" class="icon_check_time"></ion-icon>
          <div>บันทึกเวลา (Office)</div>
          <div>
            <lable class="roud_text">{{ km_data }}</lable>
          </div>
        </div>
      </ion-col>
      <ion-col text-center size="6" size-lg *ngFor="let menu of menu" (click)="go_to_check_time_page()">
        <div class="btn_check_time">
          <ion-icon [name]="menu.icon" class="icon_check_time"></ion-icon>
          <div>{{ menu.btn_name }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>