.icon_check_time{
    zoom: 4.0;
}

[text-center]{
    text-align: center;
}

.btn_check_time{
    padding: 10px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    min-height: 130px;
}

.content_data{
    padding-top: 20px;
}

.roud_text{
    font-size: 12px;
    color: #999999;
    font-weight: 900;
}

.disabled{
    opacity: 0.6;
}