<div class="container">
	<div class="profilePhotoContainer">
		<div class="profilePhoto">
		</div>
	</div>
	<div class="profiowaileDetail">
		<h2>นาย รักดี ธรรมรักษา</h2>
		<p>ตำแหน่ง Programmer</p>
	</div>
</div>