.container {
    width: 100%;
}

.profilePhotoContainer {
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: -5rem;
}

.profilePhoto {
    width: 10rem;
    height: 10rem;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    background: center no-repeat;
    background-size: cover;
    margin: auto;
    background-image: url(https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4-300x300.png);
}

.profiowaileDetail {
    margin-top: 5rem;
    padding: 5rem 1rem 1rem 1rem;
    color: black;
    background-color: white;
}